* {
    box-sizing: border-box;
    margin: 10px;
    padding: auto;
}

body {
    align-items: center;
    background: black;
    color: rgb(80, 253, 0);
    right: 35px;
}

a {
    font-weight: 800;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

li {
    float: left;
    padding-left: 100px;
}

.header {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    height: auto;
    width: 17px;
}

.nav {
    background: rgb(14, 21, 58);
    margin-left: -40px;
    overflow: hidden;
    padding: 14px;
}

.nav a {
    padding: 20px;
    text-decoration: none;
    text-align: center;
    color: #05ffea;
    font-size: 2.4em;
    display: block;
    float: left;
}

.nav a:hover {
    background: #00ff4c;
    color: #000000;
}